@import url("https://fonts.googleapis.com/css?family=Varela+Round:200,300,400,500,600,900|Open+Sans|Noto+Sans+Mono:300,400,500,600|Charm&display=swap");

:root {
	--font-size: 1.25em;
	--theme-color: 0, 123, 137;
	--theme-light: 0, 163, 181;
	--theme-dark: 0, 95, 107;
	--profile-bg: 61, 62, 66;
	--bg-color: 248, 248, 248;
	--font-color: 0, 0, 0;
	--corners: 2mm;
	/* --shadow-subtle: -0.5mm 0.5mm 1mm rgba(170, 170, 170, 0.5); */
	--shadow-subtle: 0;
}

/* hide */
.online-notice,
.lang,
.title,
.print,
#toc,
hr:first-of-type {
	display: none !important;
}

/* general */
html,
body {
	font-size: 1em;
	position: absolute;
	height: 100%;
	width: 100vw;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5rem;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow-wrap: break-word;
}

strong {
	font-weight: 600 !important;
}

em {
	font-style: italic !important;
}

h1 {
	font-size: calc(var(--font-size) * 1.75);
	margin: 1rem 0;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	overflow: hidden;
	overflow-wrap: break-word;
}

h2 {
	font-size: calc(var(--font-size) * 1.25);
}

.page h3 {
	font-size: calc(var(--font-size) * 1.1);
	font-weight: 300;
	text-transform: uppercase;
}

h1,
h2,
h3 {
	line-height: 1.25;
	font-family: "Varela Round";
}

.page p,
.page li {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

thead:not(.timeline thead) {
	background: rgba(var(--theme-color), 1);
	color: #fff;
}

table:not(.timeline table) {
	width: fit-content;
	border-collapse: collapse;
	margin: 1em 2em;
	text-align: left;
	line-height: 1.5;
	white-space: wrap;
	justify-content: safe left;
	text-wrap: wrap;
	word-wrap: break-word;
}

th:not(.timeline th),
td:not(.timeline td) {
	padding: 0em 0.5em;
}

th:not(.timeline th):not(:first-of-type) {
	border-left: 0.33mm solid rgba(var(--bg-color), 1);
}

td:not(.timeline td):not(:first-of-type) {
	border-left: 0.33mm solid rgba(var(--theme-color), 0.75);
}

.profile-container {
	background: rgba(var(--profile-bg), 1);
}

.profile,
.profile * {
	color: #fff;
	text-decoration: none;
}

header#name-block {
	margin: 0 auto;
	justify-items: center;
	display: grid;
}

.page {
	float: right;
	background-color: rgba(var(--bg-color), 1);
	color: rgba(var(--font-color), 1);
	top: 0;
	padding-top: 1rem;
	white-space: normal;
	justify-content: center;
	align-items: center;
	width: 100%;
}


.spacer {
	padding: 0 var(--font-size);
	order: 1;
}

.footer {
	height: 2rem;
	order: 2;
}

.copyright {
	width: 100%;
	height: 2rem;
	font-size: 0.7em;
	text-align: center;
	padding: 0.25rem 0;
	background: rgba(170, 170, 170, 0.5);
	order: 3;
}

/* Profile section */
.profile {
	display: grid;
}

.name {
	font-size: 2.5em;
	/* font-weight: 300; */
	/* font-variant: petite-caps; */
	font-family: "Varela Round", sans-serif;
	text-align: center;
	order: 1;
}

.subtitle {
	font: 1.2em "Noto Sans Mono", serif;
	letter-spacing: -0.033em;
	font-weight: 200;
	text-align: center;
	color: #caddee;
	order: 2;
	margin: 0.5rem;
}

.contact {
	line-height: 1.5;
	margin: 0.5rem auto;
	order: 2;
}

.contact a,
.contact p,
.contact h2,
.contact h3 {
	font-size: 1.1em;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
}

.lang-menu {
	display: block;
	order: 3;
	height: 2.5em;
	font-size: 1.5em;
	padding: 0;
	margin-top: 0.5rem;
	position: relative;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.lang-menu a {
	font-weight: 600;
	/* display: flex; */
	justify-content: center;
}

.lang-menu li a.current {
	box-shadow: 0 0 8mm rgba(255, 255, 255, 0.66) inset;
}

.lang-menu ul {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
	gap: 0;
}

.lang-menu li {
	display: block;
	background: linear-gradient(45deg,
			rgba(var(--theme-dark), 1) 0%,
			rgba(var(--theme-color), 1) 100%);
	width: 100%;
	transition: 0.25s ease-in-out;
}

.lang-menu a {
	font-family: "Varela Round", sans-serif;
	font-size: 1.25rem;
	display: flex;
	position: relative;
	margin: 0 auto;
	text-decoration: none;
	height: 100%;
	width: 100%;
	align-items: center;
}

.profile-picture img {
	display: block;
	border-radius: 50%;
	height: 6cm;
	width: 6cm;
	object-fit: contain;
	margin: 1rem;
	transition: 0.25s ease-in-out;
	box-shadow: 0 0 3mm #aaa;
}

/* Timeline */

.timeline {
	--timeline-margin: 0.5rem;
	display: inline-block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: var(--timeline-margin);
	margin-right: var(--timeline-margin);
}

.timeline .entry {
	padding-left: 1rem;
	line-height: 1.25;
	display: grid;
}

.timeline .entry:not(.entry:last-of-type) {
	border-left: 1mm solid rgba(var(--theme-light), 1);
	padding-bottom: 1em;
}

.timeline .entry:last-of-type {
	border-left: 1mm solid transparent;
}

.timeline .entry:before {
	box-sizing: border-box;
	content: "";
	width: 1.5rem;
	height: 1.5rem;
	background: rgba(var(--bg-color), 1);
	border: 1mm solid rgba(var(--theme-light), 1);
	border-radius: 50%;
	position: absolute;
	left: calc(var(--timeline-margin) / 2 + 1em - 0.5mm);
}

.timeline .entry h2 {
	order: 2;
	font-weight: 400;
}

.timeline .entry h3 {
	order: 3;
	font-weight: 600;
}

.timeline .entry ul {
	list-style-type: disc;
	order: 4;
	margin: 0 1em;
}

.timeline .entry .table,
.timeline .entry thead {
	order: 1;
	display: grid;
	text-align: left;
	margin-right: 1rem;
	margin-bottom: 0.25rem;
}

/* .timeline .entry th:first-of-type {
	text-align: left;
} */

.timeline .entry th:not(th:first-of-type) {
	/* padding-left: 2em; */
	border-left: 0.25mm solid rgba(var(--theme-color), 1);
	margin-left: 0.5rem;
	padding-left: 0.5rem;
}

.timeline .entry th {
	font: 0.9em "Noto Sans Mono", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	width: calc(50vw - 2*var(--timeline-margin));
}

.timeline .entry thead {
	border-bottom: 0.25mm solid rgba(var(--theme-color), 0.5);
	width: fit-content;
	overflow: hidden;
	overflow-wrap: break-word;
}

.timeline .entry p {
	line-height: 1.25;
	order: 4;
}

/* Skills */

.skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8.5em, 1fr));
	gap: 1em;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	gap: 1em;
}

.skills .entry,
.cards .entry {
	padding: 0.5rem;
}

.skills .entry:first-child,
.cards .entry:first-child {
	margin-top: 0.5em;
}

.skills .entry:last-child,
.cards .entry:last-child {
	padding-bottom: 1em;
}

.cards ul,
.cards ol {
	text-align: left;
}

.skill-item,
.cards .entry {
	background: rgba(var(--theme-color), 0.15);
	/* padding: 1em; */
	border-radius: var(--corners);
	box-shadow: var(--shadow-subtle);
	text-align: center;
	overflow: hidden;
	overflow-wrap: break-word;
	transition: all 0.25s ease-in-out;
}

.skill-item h2,
.cards .entry h2 {
	margin-bottom: 1rem;
	text-shadow: 0.025em 0 0 rgba(var(--font-color), 1);
	font-size: calc(var(--font-size) * 1.4);
}

.skill-item .entry ul {
	display: none;
}

.progress-bar {
	padding: 0.5rem;
}

/* Other entries */
h1:not(.timeline h1, .profile h1, .skills h1),
h2:not(.timeline h2, .profile h2, .skills h2),
h3:not(.timeline h3, .profile h3, .skills h3),
h4:not(.timeline h4, .profile h4, .skills h4),
h5:not(.timeline h5, .profile h5, .skills h5),
h6:not(.timeline h6, .profile h6, .skills h6) {
	margin: 1rem 1rem 0.5rem 1rem;
}

ul:not(.timeline ul, .profile ul, .skills ul) {
	margin: 1rem 2em;
	line-height: 1.25;
	list-style: disc;
}

ol:not(.timeline ol, .profile ol, .skills ol) {
	margin: 1rem 2em;
	line-height: 1.25;
	list-style: decimal;
}

p:not(.timeline p, .profile p, .skills p),
span:not(.timeline span, .profile span, .skills span) {
	margin: 0 1rem;
	line-height: 1.25;
}

blockquote {
	background: rgba(var(--theme-color), 0.15);
	margin: 1rem;
	padding: 0.5rem;
	border-radius: var(--corners);
	font-family: "Noto Sans Mono", monospace;
	font-size: 0.9em;
}

pre:has(code) {
	background: rgba(var(--profile-bg), 0.75);
	color: rgb(213, 243, 221);
	margin: 1rem;
	padding: 0.5rem 1rem;
	border-radius: var(--corners);
	font-family: "Noto Sans Mono", monospace;
	font-size: 0.8em;
}

/* end of page */
.footer {
	height: 2rem;
}

.unlisted {
	display: none;
}