@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+Mono|Charm&display=swap');
:root {
    --font-size: 1em;
    --button-color: rgb(0, 123, 137);
    --button-light: rgb(0, 163, 181);
    --button-dark: rgb(0, 95, 107);
}

.online-notice, .languages, .title, .print {
    display: none;
}

html {
    display: unset;
    height: 100%;
    width: 100%;
    overflow: unset;
    font: 1em "Noto Sans", sans-serif;
}

body {
    display: unset;
    min-width: 100%;
    padding: 0 !important;
    overflow: unset;
    white-space: nowrap;
    height: 100%;
}

h1 {
    font-size: calc(var(--font-size) * 2)
}

h3:has(a):hover {
    transform: scale(1.1);
    transition: 0.25s;
}

.profile {
    position: sticky;
    top: 0;
    left: 0;
    width: 30%;
    height: 110%;
    overflow: hidden;
    white-space: normal;
    background: #3d3e42;
}

.profile * {
    color: #fff;
    text-decoration: none;
}

header#name-block {
    margin: 2rem 1rem;
    justify-items: center;
    display: grid;
}

.page {
    position: absolute;
    /* display: inline-block; */
    background-color: #f0f0f0;
    color: #000;
    top: 0;
    right: 0;
    padding-top: 1rem;
    width: 70%;
    /* min-height: fit-content; */
    height: 100%;
    overflow: hidden;
    white-space: normal;
    box-shadow: 0.5mm 0 2mm #000 inset;
    overflow: scroll;
}

.spacer {
    padding: 0 var(--font-size);
}

.name, .email, .phone {
    font-family: "Noto Sans Mono", sans-serif;
}

.name {
    font-size: 2.5em;
    font-weight: bold;
    /* font-variant: petite-caps; */
    text-align: center;
    margin: 1rem 0;
}

hr:first-of-type {
    display: none;
}

.subtitle {
    font: 1.5em "Charm", serif;
    text-align: center;
    color: #caddee;
}

.contact {
    line-height: 1.5;
    margin: 0 auto;
}

.lang-menu {
    font-size: 1.5em;
    padding: 0;
	display: flex;
	position: relative;
	justify-content: center;
}

.lang-menu li, #toc li {
    height: 2em;
    margin: 0 0.5rem;
    padding: 0;
    list-style: none;
    cursor: pointer;
    background: var(--button-color);
    color: #fff;
    box-shadow: -0.5mm 0.5mm 2mm var(--button-dark);
}

.lang-menu a, #toc a {
    position: relative;
    margin: 0 0.5em;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#toc li {
    font-size: 1.5em;
    margin: 1rem 0;
}

#toc {
    margin: 1rem;
}

#toc li:hover, .lang-menu li:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

.profile-picture img {
    height: 10rem;
    width: 10rem;
    object-fit: contain;
    border-radius: 50%;
    margin: 1rem;
    transition: 0.25s;
}

.profile-picture img:hover {
    transition: 0.25s;
	transform: scale(1.2);
	border-radius: 0.5cm;
}

