@import url("https://fonts.googleapis.com/css?family=Noto+Sans:wght@200..900|Noto+Sans+Mono@200..900|Charm&display=swap");
:root {
  --font-size: 1em;
  --theme-color: 0, 123, 137;
  --theme-light: 0, 163, 181;
  --theme-dark: 0, 95, 107;
  --profile-bg: 61, 62, 66;
  --bg-color: 240, 240, 240;
  --font-color: 0, 0, 0;
  --corners: 2mm;
  --shadow-subtle: -0.5mm 0.5mm 1mm rgba(170, 170, 170, 0.5);
}

.online-notice,
.lang,
.title,
.print {
  display: none;
}

html {
  display: unset;
  height: 100%;
  width: 100%;
  overflow: unset;
  font: 1em "Noto Sans", sans-serif;
}

body {
  display: unset;
  min-width: 100%;
  padding: 0 !important;
  overflow: unset;
  white-space: nowrap;
  height: 100%;
}

strong {
  font-weight: 600 !important;
}

em {
  font-style: italic !important;
}

h1 {
  font-size: calc(var(--font-size) * 2);
  margin: 1rem 0;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-size: calc(var(--font-size) * 1.5);
}

h3 {
  font-size: calc(var(--font-size) * 1.1);
  font-weight: 600;
  font-family: "Noto Sans Mono", monospace;
}

h3:has(a):hover {
  transform: scale(1.1);
  transition: 0.25s;
}

.profile-container {
  position: sticky !important;
  background: rgba(var(--profile-bg), 1);
  top: 0;
  left: 0;
  width: 30%;
  min-height: 100%;
  height: fit-content;
}

.profile {
  display: grid;
  grid-auto-rows: min-content;
  align-items: start;
  white-space: normal;
}

.profile * {
  color: #fff;
  text-decoration: none;
}

header#name-block {
  margin: 0 1rem;
  justify-items: center;
  display: grid;
  grid-auto-flow: row dense;
  order: 2;
}

.page {
  position: absolute;
  /* display: inline-block; */
  background-color: rgba(var(--bg-color), 1);
  color: rgba(var(--font-color), 1);
  top: 0;
  right: 0;
  padding-top: 1rem;
  width: 70%;
  /* WHYYYY ? */
  height: calc(100% - 4.25mm);
  overflow: hidden;
  white-space: normal;
  /* box-shadow: -0.5mm -2mm 1mm 0 rgba(var(--profile-bg), 1.0) inset; */
  overflow: scroll;
}

.spacer {
  padding: 0 var(--font-size);
}

/* Profile section */

.name,
.email,
.phone {
  font-family: "Noto Sans Mono", sans-serif;
}

.name {
  font-size: 2.5em;
  font-weight: 600;
  /* font-variant: petite-caps; */
  text-align: center;
  margin-bottom: 1rem;
}

hr:first-of-type {
  display: none;
}

.subtitle {
  font: 1.5em "Charm", serif;
  text-align: center;
  color: #caddee;
}

.contact {
  line-height: 1.5;
  margin: 0 auto;
}

.lang-menu {
  height: 2em;
  font-size: 1.5em;
  padding: 1em 0;
  display: flex;
  position: relative;
  justify-content: center;
  order: 1;
}

.lang-menu a {
  font-weight: 600;
}

.lang-menu ul {
  /* max-height: fit-content !important; */
}

.lang-menu li,
#toc li {
  height: 2em;
  margin: 0 0.5rem;
  padding: 0;
  list-style: none;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    rgba(var(--theme-color), 1) 0%,
    rgba(var(--theme-light), 1) 100%
  );
  color: #fff;
  border-radius: var(--corners);
  box-shadow: var(--shadow-subtle);
}

.lang-menu a,
#toc a {
  position: relative;
  margin: 0 0.5em;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#toc i {
  margin: 0 0.5em;
}

#toc li {
  font-size: 1.5em;
  margin: 1rem 0;
}

#toc {
  margin: 0 1rem;
  order: 3;
}

#toc li:hover,
.lang-menu li:hover {
  transform: scale(1.075);
  transition: 0.25s;
}

.profile-picture img {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  object-fit: contain;
  margin: 1rem;
  transition: 0.25s;
  box-shadow: 0 0 3mm #aaa;
}

.profile-picture img:hover {
  transition: 0.25s;
  transform: scale(1.75);
  border-radius: var(--corners);
}

/* Timeline */

.timeline {
  display: inline-block;
  margin: 0 1rem 1rem 1rem;
}

.timeline .entry {
  padding-left: 1rem;
  line-height: 1.25;
  display: grid;
}

.timeline .entry:not(.entry:last-of-type) {
  border-left: 1mm solid rgba(var(--theme-light), 1);
  padding-bottom: 1em;
}

.timeline .entry:before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: rgba(var(--bg-color), 1);
  border: 1mm solid rgba(var(--theme-light), 1);
  border-radius: 50%;
  position: absolute;
  left: calc(
    1.5rem - 0.5mm
  ); /* spacer padding + timeline padding + 0.5 border */
}

.timeline .entry:hover:before {
  transition: 0.25s;
  transition-delay: 0.05s;
  left: calc(1.5rem - 1mm + 1em);
}

.timeline .entry ul {
  list-style: none;
  order: 1;
}

.timeline .entry h2 {
  order: 3;
}

.timeline .entry h3 {
  order: 2;
}

.timeline .entry * {
  order: 4;
}

.timeline .entry li {
  display: inline-block;
  font: 0.9em "Noto Sans Mono", monospace;
  font-variant: small-caps;
}

.timeline .entry li:not(li:first-of-type) {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 0.5mm solid rgba(var(--font-color), 1);
}

.timeline .entry p {
  display: list-item;
  list-style-type: circle;
  margin-left: 1em;
}

.timeline .entry:hover {
  transition: 0.25s;
  transition-delay: 0.05s;
  /* background-color: rgba(var(--theme-light), 1.0); */
  border-left: 1em solid rgba(var(--theme-color), 1) !important;
}

/* skills */

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
  text-align: center;
}

.skill-item {
  background: rgba(var(--theme-color), 0.15);
  padding: 1em;
  border-radius: var(--corners);
  box-shadow: var(--shadow-subtle);
}

.skill-item:hover {
  background: rgba(var(--theme-color), 0.2);
  transform: scale(1.075);
  transition: all 0.25s ease-in-out;
}

.skill-item h2 {
  margin-bottom: 1rem;
}

.skill-item .entry ul {
  display: none;
}

/* Other entries */
h1:not(.timeline h1, .profile h1, .skills h1),
h2:not(.timeline h2, .profile h2, .skills h2),
h3:not(.timeline h3, .profile h3, .skills h3),
h4:not(.timeline h4, .profile h4, .skills h4) {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}