/* @import url("https://fonts.googleapis.com/css?family=Varela+Round|Open+Sans@200:500|Noto+Sans+Mono@200:500|Charm&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&family=Open+Sans:wght@200..700&family=Noto+Sans+Mono:wght@200..700&family=Charm&display=swap");

:root {
  color-scheme: light dark;
  /* support light and dark mode */
  --font-size: 1em;
  --theme: 0, 123, 137;
  --theme-2: 0, 163, 181;
  --theme-3: 0, 95, 107;
  --theme-highlight: 168, 0, 93;
  --bg-color: 248, 248, 248;
  --font-color: 0, 0, 0;
  --profile-bg: 61, 62, 66;
  --corners: 2mm;
  /* --shadow-subtle: -0.5mm 0.5mm 1mm rgba(170, 170, 170, 0.5); */
  --shadow-subtle: 0;
}

@media screen and (prefers-color-scheme: dark) {
  .page {
    --bg-color: 25, 25, 25;
    --font-color: 240, 240, 240;
    --theme-3: 0, 182, 202;
  }

  .skill-item,
  .cards .entry {
    background: rgba(var(--theme), 0.15) !important;
  }

  .skill-item:hover,
  .cards .entry:hover {
    background: rgba(var(--theme), 0.2) !important;
  }
}

.unlisted,
.online-notice,
.lang,
.title,
.print {
  display: none;
}

html {
  display: unset;
  height: 100%;
  width: 100%;
  overflow: unset;
  font: 1em "Open Sans", sans-serif;
}

body {
  display: unset;
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  overflow: hidden;
  font-weight: 200;
}

strong {
  font-weight: 500 !important;
}

em {
  font-style: italic !important;
}

h1 {
  font-size: calc(var(--font-size) * 1.75);
  margin: 1rem 0;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: calc(var(--font-size) * 1.25);
}

.page h3 {
  font-size: calc(var(--font-size) * 1);
  font-weight: 300;
  text-transform: uppercase;
}

h3:has(a):hover {
  transform: scale(1.05);
  transition: 0.25s ease-in-out;
}

h1,
h2,
h3 {
  line-height: 1.25;
  font-family: "Varela Round";
  transition: 0.25s ease-in-out;
}

.page p,
.page li {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

thead:not(.timeline thead) {
  background: rgba(var(--theme), 1);
  color: #fff;
}

table:not(.timeline table) {
  width: fit-content;
  border-collapse: collapse;
  margin: 1em 2em;
  text-align: left;
  line-height: 1.5;
  white-space: wrap;
  justify-content: safe left;
  text-wrap: wrap;
  word-wrap: break-word;
}

th:not(.timeline th),
td:not(.timeline td) {
  padding: 0.25em;
  line-height: 1.15;
}

th:not(.timeline th):not(:first-of-type) {
  border-left: 0.33mm solid rgba(var(--bg-color), 1);
}

td:not(.timeline td):not(:first-of-type) {
  border-left: 0.33mm solid rgba(var(--theme), 0.75);
}

.profile-container {
  /* position: sticky !important; */
  /* overflow: scroll; */
  background: rgba(var(--profile-bg), 1);
  top: 0;
  left: 0;
  width: 30%;
  float: left;
}

.profile {
  display: grid;
  grid-auto-rows: min-content;
  align-items: start;
  white-space: normal;
}

.profile * {
  color: #fff;
  text-decoration: none;
}

header#name-block {
  margin: 0 1rem;
  justify-items: center;
  display: grid;
  grid-auto-flow: row dense;
  order: 2;
}

.page {
  position: absolute;
  float: right;
  /* display: inline-block; */
  background-color: rgba(var(--bg-color), 1);
  color: rgba(var(--font-color), 1);
  top: 0;
  right: 0;
  padding-top: 1rem;
  width: 70%;
  /* WHYYYY ? */
  /* height: calc(100% - 4.25mm); */
  white-space: normal;
  /* box-shadow: -0.5mm -2mm 1mm 0 rgba(var(--profile-bg), 1.0) inset; */
  /* overflow: scroll; */
}

.profile-container,
.page {
  display: grid;
  height: 100vh !important;
  overflow: scroll !important;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.spacer {
  padding: 0 var(--font-size);
  order: 1;
}

.footer {
  height: 2rem;
  order: 2;
}

.copyright {
  width: 100%;
  height: 2rem;
  font-size: 0.7em;
  text-align: center;
  padding: 0.25rem 0;
  background: rgba(170, 170, 170, 0.5);
  order: 3;
}

/* Profile section */
.name {
  font-size: 2.5em;
  /* font-weight: 300; */
  font-family: "Varela Round", sans-serif;
  /* font-variant: petite-caps; */
  text-align: center;
  order: 2;
}

hr:first-of-type {
  display: none;
}

.subtitle {
  font: 1.2em "Noto Sans Mono", serif;
  letter-spacing: -0.033em;
  font-weight: 200;
  text-align: center;
  color: #caddee;
  order: 3;
}

.contact {
  line-height: 1.5;
  margin: 0.5rem auto;
  order: 4;
}

.contact a,
.contact p,
.contact h2,
.contact h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.lang-menu {
  height: 2.5em;
  font-size: 1.5em;
  padding: 0;
  position: relative;
  justify-content: center;
  order: 1;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.lang-menu a {
  font-weight: 600;
  /* display: flex; */
  justify-content: center;
  transition: 0.25s ease-in-out;
}

.lang-menu li a.current {
  box-shadow: 0 0 8mm rgba(255, 255, 255, 0.66) inset;
}

.lang-menu li a.current:hover {
  cursor: default;
  transform: none;
}

.lang-menu li a:hover:not(a.current) {
  /* transform: scale(1.15); */
  transition: 0.25s ease-in-out;
  box-shadow: 0 0 8mm rgba(255, 255, 255, 0.33) inset;
  border-radius: 1.5em;
}

.lang-menu ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  gap: 0;
}

.lang-menu li {
  display: block;
  background: linear-gradient(45deg,
      rgba(var(--theme-3), 1) 0%,
      rgba(var(--theme), 1) 100%);
  width: 100%;
  transition: 0.25s ease-in-out;
}

.lang-menu a,
#toc a {
  font-family: "Varela Round", sans-serif;
  font-size: 1.25rem;
  display: flex;
  position: relative;
  margin: 0 auto;
  text-decoration: none;
  height: 100%;
  width: 100%;
  align-items: center;
}

#toc {
  margin: 0 1rem;
  order: 5;
}

#toc i {
  margin: 0 0.5em;
}

#toc li {
  height: 2em;
  font-size: 1.5em;
  margin: 0.5rem 0.5rem;
  list-style: none;
  cursor: pointer;
  background: linear-gradient(45deg,
      rgba(var(--theme), 1) 0%,
      rgba(var(--theme-2), 1) 100%);
  color: #fff;
  border-radius: var(--corners);
  box-shadow: var(--shadow-subtle);
  transition: 0.25s ease-in-out;
}

#toc li:hover {
  transform: scale(1.05);
  transition: 0.25s ease-in-out;
}

#toc li a {
  margin: 0 0.5rem;
}

.profile-picture img {
  display: block;
  position: relative;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  object-fit: contain;
  margin: 1rem;
  transition: 0.25s ease-in-out;
  box-shadow: 0 0 3mm #aaa;
  z-index: 2;
}

.profile-picture img:hover {
  transition: 0.25s ease-in-out;
  transform: scale(1.75) translateY(2.5rem);
  transition-delay: 0.125s;
  border-radius: var(--corners);
  cursor: none;
}

/* Timeline */

.timeline {
  --timeline-margin: 15%;
  display: inline-block;
  margin: 1rem var(--timeline-margin);
}

.timeline .entry {
  padding-left: 1rem;
  line-height: 1.25;
  display: grid;
  transition: 0.25s ease-in-out;
  padding-bottom: 0.25em;
}

.timeline .entry:not(.entry:last-of-type) {
  border-left: 1mm solid rgba(var(--theme-2), 1);
  padding-bottom: 1em;
}

.timeline .entry:last-of-type {
  border-left: 1mm solid transparent;
}

.timeline .entry:before {
  box-sizing: border-box;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(var(--bg-color), 1);
  border: 1mm solid rgba(var(--theme-2), 1);
  border-radius: 50%;
  position: absolute;
  margin-top: -0.25mm;
  left: calc(var(--timeline-margin) + 0.05rem); /* WTF? */
  transition: 0.25s ease-in-out;
}

.timeline .entry:hover:before {
  transition: 0.25s ease-in-out;
  transition-delay: 0.05s;
  left: calc(var(--timeline-margin) - 1.75em);
  border: 0.5mm solid rgba(var(--theme), 1);
}

/* .timeline .entry:hover th, */
.timeline .entry:hover h2,
.timeline .entry:hover h3 {
  text-shadow: 0.025em 0 0 rgba(var(--theme), 1);
  letter-spacing: 0.0125em;
  color: rgba(var(--theme-3), 1);
  transition: 0.25s ease-in-out;
}

.timeline .entry h2 {
  order: 2;
  transition: 0.25s ease-in-out;
}

.timeline .entry h3 {
  order: 3;
  transition: 0.25s ease-in-out;
}

.timeline .entry ul {
  list-style-type: disc;
  order: 4;
  margin: 0 1em;
}

.timeline .entry .table,
.timeline .entry thead {
  order: 1;
  display: grid;
  white-space: nowrap;
}

.timeline .entry th {
  display: inline-flex;
  font: 0.8em "Noto Sans Mono", sans-serif;
  text-transform: uppercase;
  font-weight: 350;
  transition: 0.25s ease-in-out;
}

.timeline .entry th:first-of-type {
  font-weight: 500;
}

.timeline .entry th:not(th:first-of-type) {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 0.5mm solid rgba(var(--theme), 0.5);
}

.timeline .entry thead {
  border-bottom: 0.5mm solid rgba(var(--theme), 0.5);
  width: fit-content;
  transition: 0.25s ease-in-out;
}

.timeline .entry:hover thead {
  border-bottom: 0.5mm solid rgba(var(--theme-3), 0.67);
}

.timeline .entry p {
  line-height: 1.25;
  order: 4;
}

.timeline .entry:hover {
  transition: 0.25s ease-in-out;
  transition-delay: 0.05s;
  /* background-color: rgba(var(--theme-light), 1.0); */
  border-left: 1em solid rgba(var(--theme), 1) !important;
  border-radius: 1em 0 0 1em;
}

/* Skills */

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  gap: 1em;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
}

.cards ul,
.cards ol {
  text-align: left;
}

.skill-item,
.cards .entry {
  background: rgba(var(--theme), 0.15);
  padding: 1em;
  border-radius: var(--corners);
  box-shadow: var(--shadow-subtle);
  text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;
  transition: all 0.25s ease-in-out;
}

.skill-item:hover,
.cards .entry:hover {
  background: rgba(var(--theme), 0.075);
  transform: scale(1.05);
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 25mm 5mm rgba(var(--theme), 0.1) inset;
}

.skill-item h2,
.cards .entry h2 {
  margin-bottom: 1rem;
  text-shadow: 0.025em 0 0 rgba(var(--font-color), 1);
  font-size: calc(var(--font-size) * 1.4);
}

.skill-item .entry ul {
  display: none;
}

.skill-item table,
.cards .entry table {
  margin: 0.25em auto;
  font-size: 0.9em;
}

.progress-label {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 250;
  font-size: 1.15em;
  letter-spacing: -0.05em;
  top: calc(-0.6em - 62.5px);
  /* should be -0.5em I guess */
  height: 0;
  /* to remove space in original position */
}

/* Other entries */
h1:not(.timeline h1, .profile h1, .skills h1),
h2:not(.timeline h2, .profile h2, .skills h2),
h3:not(.timeline h3, .profile h3, .skills h3),
h4:not(.timeline h4, .profile h4, .skills h4),
h5:not(.timeline h5, .profile h5, .skills h5),
h6:not(.timeline h6, .profile h6, .skills h6) {
  margin: 1rem 1rem 0.5rem 1rem;
}

ul:not(.timeline ul, .profile ul, .skills ul) {
  margin: 1rem 2em;
  line-height: 1.25;
  list-style: disc;
}

ol:not(.timeline ol, .profile ol, .skills ol) {
  margin: 1rem 2em;
  line-height: 1.25;
  list-style: decimal;
}

p:not(.timeline p, .profile p, .skills p),
span:not(.timeline span, .profile span, .skills span) {
  margin: 0 1rem;
  line-height: 1.25;
}

blockquote {
  background: rgba(var(--theme), 0.15);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: var(--corners);
  font-family: "Noto Sans Mono", monospace;
  font-size: 0.9em;
}

pre:has(code) {
  background: rgba(var(--profile-bg), 0.75);
  color: rgb(213, 243, 221);
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--corners);
  font-family: "Noto Sans Mono", monospace;
  font-size: 0.8em;
}