.btn {
  font-size: 0.9em;
}

#profile-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.4%;
}

#profile-before {
  grid-column: 1;
  margin: auto 0;
  text-align: right;
}

#profile-picture {
  grid-column: 2;
  width: 100%;
  max-width: 15em;
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 0.1em solid transparent;
  transition: all 0.6s;
  transition-delay: 0.3s;
}

#profile-picture:hover {
  border-radius: 2.5%;
  transition: all 0.15s;
  cursor: none;
}

#profile {
    grid-column: 3;
    margin: auto 0;
    text-align: left;
}

#profile h1,
#profile h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

#profile li {
  display: table-row;
  height: min-content;
  line-height: 1.33em;
}

#profile li i {
  display: table-cell;
  width: 20%;
}

#profile li .profile-entry {
  display: table-cell;
  width: 80%;
}
